<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="static/style/home.css">
    <link rel="stylesheet" href="static/style/t_home.css">
    <link rel="stylesheet" href="static/style/general.css">
    <link rel="stylesheet" href="static/style/t_clients.css">
    <link rel="stylesheet" href="static/style/t_equip.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/themes/material_blue.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap" rel="stylesheet">
</head>
<body>
         <!-- LOADING & POPUP -->
    <div id="loader-overlay">
        <div class="spinner"></div>
    </div>
    <div class="popup-overlay" id="popup">
        <div class="popup-box">
            <h2 id="popup-title">Title</h2>
                <p id="popup-message">Message</p>
            <button onclick="popup(0)">OK</button>
        </div>
    </div>
    
    <div class="header">
        <div class="header-menu" id="menutabs">
            <a  onclick="select_tab(0)" id="tab0" >
                <i class="fa-solid fa-house"></i>
                ראשי
            </a>
            <a onclick="select_tab(1)" id="tab1" >
                <i class="fa-solid fa-people-group"></i>
                לקוחות
            </a>
            <a onclick="select_tab(2)" id="tab2">
                <i class="fa-solid fa-boxes-stacked"></i>
                ציודים
            </a>
            <a onclick="select_tab(3)" id="tab3" >
                <i class="fa-solid fa-sliders"></i>
                הגדרות
            </a>
        </div>
        <div class="menu-button">
            <i onclick="showMenuTabs(1)" class="fa-solid fa-bars"></i>
        </div>
        <div class="logo">רוני הגברות</div>
    </div>
    <div class="main-tab">
        <div class="tab_at_home" id="tcontent0">
            {% include "tab_home.html" %}
        </div>
        <div class="tab_at_home" id="tcontent1">
            {% include "tab_client.html" %}
        </div>
        <div class="tab_at_home" id="tcontent2">
            {% include "tab_equip.html" %}
        </div>
        <div class="tab_at_home" id="tcontent3"></div>
    </div>

</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/inputmask/dist/jquery.inputmask.min.js"></script>


<script src="static/js/general.js"> </script>
<script src="static/js/home.js"> </script>
<script src="static/js/consts.js"> </script>
<script src="static/js/t_home.js"> </script>
<script src="static/js/t_clients.js"> </script>
<script src="static/js/t_equip.js"> </script>

<script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>


</html>