
<div id="deleterentmenu" class="general-menu">
    <div class="general-menu-title" style="background: rgb(11, 13, 16);text-align: center;border-radius:6px;">
        <span id="mtitle-deleterentmenu" style="opacity: 0.6;"></span>
    </div>
    <div class="general-menu-item" onclick="deleteRent()">
        <i class="fa-solid fa-trash-can" style="color: #b6354f;"></i>
        <span>מחיקה</span>
    </div>
</div>

<div id="homeviewmenu" class="general-menu">
    <div class="general-menu-title" style="background: rgb(11, 13, 16);text-align: center;border-radius:6px;">
        <span id="mtitle-homeviewmenu" style="opacity: 0.6;"></span>
    </div>
</div>

<div id="linkmenu" class="general-menu">
    <div class="general-menu-title" style="background: rgb(11, 13, 16);text-align: center;border-radius:6px;">
        <span id="mtitle-linkmenu" style="opacity: 0.6;"></span>
    </div>
    <div class="general-menu-item" onclick="sendToClientWhatsApp()">
        <i class="fa-solid fa-link"></i>
        <span>שלח ללקוח</span>
    </div>
    <div class="general-menu-item" onclick="window.open(LINK_CONTRACT)">
        <i class="fa-solid fa-arrow-up-right-from-square" style="color: #63E6BE;"></i>
        <span>פתח</span>
    </div>
</div>

<div id="rentcomplete" class="general-menu">
    <div class="general-menu-title" style="background: rgb(11, 13, 16);text-align: center;border-radius:6px;">
        <span id="mtitle-rentcomplete" style="opacity: 0.6;"></span>
    </div>
        <div class="general-menu-item" onclick="completeRent()">
        <i class="fa-solid fa-circle-check" style="color: #63E6BE;"></i>
        <span >סיום!</span>
    </div>
</div>

<div id="rentcancel" class="general-menu">
    <div class="general-menu-title" style="background: rgb(11, 13, 16);text-align: center;border-radius:6px;">
        <span id="mtitle-rentcancel" style="opacity: 0.6;"></span>
    </div>
        <div class="general-menu-item" onclick="canceledRent()">
            <i class="fa-solid fa-circle-pause" style="color: goldenrod;"></i>
        <span >השהה</span>
    </div>
</div>


<div class="tab-list-home">
    <div class="tab-menu-home">
        <div class="menu-item">
            <button type="button" class="general-button btn-t-home btn-new-client" onclick="startNewClient()">
                <i class="fa-solid fa-person-circle-plus"></i>
                <span>לקוח חדש</span>
            </button>
        </div>
        <div class="menu-item">
            <button type="button" class="general-button btn-t-home btn-theme" onclick="showMenuSelectHomeView('homeviewmenu', event)">
                <i class="fa-solid fa-list-ol"></i>
                <span id="nameview">אירועים</span>
            </button>
        </div>
        <div class="menu-item">
            <button type="button" class="general-button btn-t-home btn-refersh" onclick="location.reload()">
                <i class="fa-solid fa-arrows-rotate"></i>
                <span>עדכון</span>
            </button>
        </div>
    </div>

    <div class="list-rent-boxes">
        {% if not rents %}
            <div class="rent-box-empty">
                    <i class="fa-solid fa-hourglass-end fa-bounce"></i>
                    <span>אין אירועים להצגה</span>
            </div>
        {%endif %}
        {% for event in rents%}
            <div class="rent-box" id="{{event.rent.rid}}">
                <div class="rent-b-head">
                    <div class="rent-b-title">
                        <span>{{limit_text(event.client.fullname)}}</span>
                    </div>
                    <div class="rent-money">
                        <span class="mlow">{{get_float_string(event.rent.amount)[1]}}.</span> 
                        <span class="mbig">
                            {{get_number_clearly(get_float_string(event.rent.amount)[0])}}
                            <i class="fa-solid fa-shekel-sign mbig-icon"></i>
                        </span>
                        
                    </div>
                    <div class="rent-b-menu">
                        <i class="fa-solid fa-ellipsis"></i>
                    </div>
                </div>
                <div class="rent-body">
                    <div class="div-status">
                        <div class="rent-box-status">
                            {% if event.contract.client_signature%}
                            <div class="box-status"><i class="fa-solid fa-file-signature status-v"></i>
                                <span>הלקוח חתם</span>
                            </div>
                            {%else%}
                            <div class="box-status"><i class="fa-solid fa-file-signature status-x"></i>
                                <span>ממתין ללקוח</span>
                            </div>
                            {%endif%}

                        </div>
                        <div class="rent-box-status">
                            {% if is_end_rent_event(event.rent.end_rent)%}    
                                <div class="box-status">
                                    <i class="fa-solid fa-clock status-v"></i>
                                    <span> האירוע הסתיים</span>
                                </div>                            
                            {%else%}
                                <div class="box-status">
                                    <i class="fa-solid fa-clock status-x"></i>
                                    <span>{{get_beautiful_until_time(event.rent.end_rent)}}</span>
                                </div>
                            {% endif %}
                        </div>
                        <div class="rent-box-status">
                            <div class="box-status">
                                <i class="fa-solid fa-boxes-stacked status-v"></i>
                                <span>{{event.rent.equipments.__len__() }} סוגי ציוד</span>
                            </div> 
                        </div>
                    </div>
                </div>
                <div class="rent-footer">
                    <div class="rent-f-item" onclick="showMenuLink('linkmenu', event, '{{event.rent.contract_id}}', '{{event.client.cid}}', '{{event.rent.rid}}', '{{event.client.phone}}')">
                        <i class="fa-solid fa-link rent-f-i-link"></i>
                    </div>
                    {% if event.rent.status == 0 %}
                    <div class="rent-f-item" onclick="showMenuDeleteRent('deleterentmenu', '{{event.rent.rid}}', event)">
                        <i class="fa-solid fa-trash-can rent-f-i-trash"></i>
                    </div>
                    <div class="rent-f-item" onclick="showMenuCompleteRent('rentcomplete', '{{event.rent.rid}}', event)">
                        <i class="fa-solid fa-calendar-check rent-f-i-end"></i>
                    </div>
                    <div class="rent-f-item" onclick="showMenuCanceledRent('rentcancel','{{event.rent.rid}}', event)">
                        <i class="fa-solid fa-circle-pause rent-f-i-cancel" style="color: goldenrod;"></i>
                    </div> 

                    {% elif event.rent.status == 1%}

                    {% elif event.rent.status == 3%}
                    <div class="rent-f-item" onclick="restoreRent('{{event.rent.rid}}')">
                        <i class="fa-solid fa-clock-rotate-left rent-f-i-restore"></i>
                    </div>
                    {% endif %}
   
 

                </div>
            </div>
        {% endfor %}
    </div>

</div>
        

<div class="sidebar" id="editclient">
    <div class="sidebar-title">
        <i class="fa-solid fa-circle-xmark" onclick="cancelEditClient()"></i>
        <span>עריכת פרטי לקוח</span>
    </div>

</div>

<div class="sidebar" id="newclient">
    <div class="sidebar-title">
        <i class="fa-solid fa-circle-xmark" onclick="cancelNewClient()"></i>
        <span>לקוח חדש</span>
    </div>
    <div class="sidebar-items" id="newclient_items">
        <!-- item1-->
        <div class="sidebar-item" id="item1">
            <div class="item-title">
                <i class="fa-regular fa-square" id="iconstep1" onclick="tuggleSidebarItem(1)"></i>    
                <span>שם לקוח</span>
            </div>
            <div class="item-inpus show" id="step1">
                <div class="inp-step">
                    <label class="label-inp">
                        <i class="fa-solid fa-user"></i>
                        שם מלא של הלקוח
                    </label>
                    <input type="text" id="cname" placeholder="..." class="general-input input-step" required oninput="NewClientCompleteStep(1)">
                </div>
                <button type="button" class="general-button item-button-step" onclick="NewClientShowNextStep(1)">
                    <span>לשלב הבא</span>
                </button>
            </div>
        </div>
        <!--item2-->
        <div class="sidebar-item" id="item2">
            <div class="item-title">
                <i class="fa-regular fa-square" id="iconstep2" onclick="tuggleSidebarItem(2)"></i>    
                <span>מספר פאלפון</span>
            </div>
            <div class="item-inpus show" id="step2">
                <div class="inp-step">
                    <label class="label-inp">
                        <i class="fa-solid fa-square-phone"></i>
                        פאלפון
                    </label>
                    <input type="tel" id="cphone" placeholder="..." class="general-input input-step" required oninput="NewClientCompleteStep(2)">
                </div>
                <button type="button" class="general-button item-button-step" onclick="NewClientShowNextStep(2)">
                    <span>לשלב הבא</span>
                </button>
            </div>
        </div>
        <!--item3-->
        <div class="sidebar-item" id="item3">
            <div class="item-title">
                <i class="fa-regular fa-square" id="iconstep3" onclick="tuggleSidebarItem(3)"></i>    
                <span>תעודת זהות</span>
            </div>
            <div class="item-inpus show" id="step3">
                <div class="inp-step">
                    <label class="label-inp">
                        <i class="fa-solid fa-id-card"></i>
                        ת.ז
                    </label>
                    <input type="tel" id="cid" placeholder="..." class="general-input input-step" required oninput="NewClientCompleteStep(3)">
                </div>
                <button type="button" class="general-button item-button-step" onclick="NewClientShowNextStep(3)">
                    <span>לשלב הבא</span>
                </button>
            </div>
        </div>
        <!--item4-->
        <div class="sidebar-item" id="item4">
            <div class="item-title">
                <i class="fa-regular fa-square" id="iconstep4" onclick="tuggleSidebarItem(4)"></i>    
                <span>כתובת הלקוח (אופציונלי)</span>
            </div>
            <div class="item-inpus show" id="step4">
                <div class="inp-step">
                    <label class="label-inp">
                        <i class="fa-solid fa-house-user"></i>
                        כתובת בית
                    </label>
                    <input type="text" id="caddress" placeholder="..." class="general-input input-step" required oninput="NewClientCompleteStep(4)">
                </div>
                <button type="button" class="general-button item-button-step" onclick="NewClientShowNextStep(4)">
                    <span>לשלב הבא</span>
                </button>
            </div>
        </div>
        <div class="sidebar-item" id="item5">
            <div class="item-title">
                <i class="fa-regular fa-square" id="iconstep5" onclick="tuggleSidebarItem(5)"></i>    
                <span> כתובת מייל (אופציונלי)</span>
            </div>
            <div class="item-inpus show" id="step5">
                <div class="inp-step">
                    <label class="label-inp">
                        <i class="fa-solid fa-at"></i>
                        כתובת מייל
                    </label>
                    <input type="text" id="cemail" placeholder="..." class="general-input input-step" required oninput="NewClientCompleteStep(5)">
                </div>
                <button type="button" class="general-button item-button-step" onclick="NewClientShowNextStep(5)">
                    <span>לשלב הבא</span>
                </button>
            </div>
        </div>
        <div class="addclient" id="addclient">
            <button type="button" class="general-button btn-add-client" onclick="addNewClient()">
                <span>הוסף לקוח</span>
            </button>
        </div>
    </div>
</div>