



.general-input{
    width: 90%;
    outline: none;
    border: 1px solid #c4a5ff63;
    padding: 10px;
    border-radius: 7px;
    font-size: medium;
}

.general-button{
    outline: none;
    border: none;
    border-radius: 7px;
    transition: 200ms;
    background:#205f7e;
    width: 100%;
    cursor: pointer;
    color: white;

}

.general-button:active,
.general-button:hover{
    transform: scale(1.1) skewX(-3deg);
    background: #3083ad;

}



/* loading */
#loader-overlay {
    position: fixed;
    top: 0; left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.8);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9999;
    display: none;
}

/* Spinner */
.spinner {
    border: 8px solid rgba(255, 255, 255, 0.1);
    border-top: 8px solid cyan;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0%   { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

/* popup */

.popup-overlay {
    position: fixed;
    top: 0; left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.6);
    display: none;
    align-items: center;
    justify-content: center;
    z-index: 9999;
}

/* Popup box */
.popup-box {
    background: white;
    padding: 2rem;
    border-radius: 12px;
    box-shadow: 0 0 20px rgba(0, 255, 255, 0.5);
    max-width: 90%;
    width: 320px;
    text-align: center;
    animation: popup-fade 0.3s ease-out;
    position: relative;
}

.popup-box h2 {
    margin: 0 0 10px;
    font-size: 20px;
}

.popup-box p {
    margin: 0 0 20px;
    color: #444;
}

.popup-box button {
    padding: 10px 20px;
    background-color: cyan;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-weight: bold;
}

@keyframes popup-fade {
    from { transform: scale(0.8); opacity: 0; }
    to   { transform: scale(1); opacity: 1; }
}

@keyframes shadow-circle {
  0% {
    box-shadow: 0 0 0 0 rgba(0, 255, 255, 0.253);
  }
  70% {
    box-shadow: 0 0 0 20px rgba(0, 255, 255, 0);
  }
  100% {
    box-shadow: 0 0 0 0 rgba(0, 255, 255, 0);
  }
}