
input,
textarea,
select {
  font-size: 16px;
}

.list-clients, .list-equips{
    margin-top: 2em;
    margin-right: 10%;
    margin-left: 10%;
    width: auto;
    display: flex;
    row-gap: 10px;
    flex-direction: column;
}


.client-box{
    display: flex;
    border-radius: 5px;
    box-shadow: 0 0 11px #bababa5d;
    column-gap: 10px;
    padding: 10px;
    align-items: center;
}
.client-box-deleted{
    animation: fadeScaleOut 0.4s ease forwards;
}
.client-header{
    font-size: 2em;
    width: 50px;
    text-align: center;
    border-left: 1px solid #bababa5d;
    margin: 10px 0px;
}
.client-body{
    display: flex;
    width: 100%;
    justify-content: space-between;
}
.client-item{
    padding: 5px;
    font-size: 0.9em;
    display: grid;
    grid-template-rows: 1fr 1fr;
    row-gap: 10px;

}
.client-view-info{
    display: flex;
    column-gap: 2em;
}
.client-item > i>i{
    background: rgb(19, 56, 59);
    border-radius: 5px;
    padding: 5px;
    margin: 0;
    
}
.client-item > span{
    opacity: 0.6;
    text-decoration: underline dotted rgb(31, 44, 45);
}

.client-item.menu{
    display: flex;
    align-items: center;
    border-right: 1px solid #bababa5d;
}
.client-item.menu > i{
    font-size: large;
    border-radius: 6px;
    background: rgb(19, 56, 59);
    padding: 10px;

}
.client-item.menu > i:hover,
.client-item.menu > i:active{
    box-shadow: 0 0 11px #9191915d;
    cursor: pointer;
}


.client-info-items{
    display: flex;
    flex-direction: column;
    margin-top: 2em;
    row-gap: 20px;

}
.client-info-seperator{
    text-align: center;
    background:#91919132;
    margin: 15px 0px;
}
.client-info-item{
    display: grid;
    grid-template-columns: 1fr 4fr;
    border: 1px solid #91919132;
}
.client-info-item > *{
    padding: 10px;
}
.client-info-item > i{
    text-align: center;
   background: rgb(31, 44, 45);
   color: #62bcba;
   transform: scaleY(1.2);
   box-shadow: 0 0 11px #62bcba8f;
}

.search-box-lclient-open{
    flex: 1;
}
.search-box-lclient-close{
    flex:0;
}



@keyframes fadeScaleOut {
  to {
    opacity: 0;
    transform: scale(0);
  }
}

/* Mobile */
@media (max-width: 768px) {
    .list-clients, .list-equips{
        margin-right: 1%;
        margin-left: 1%;
        width: auto;
    }
    .client-box{

    }
    .client-header{
        font-size: 1.50em;
    }

    .client-view-info{
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 15px;
        flex:1;
    }

    .client-item.menu{
        border-right: none;
    }
    .client-item.menu > i{
        font-size:medium;
        background: transparent;
    }


}


