


.btn-t-eq-new{
    background: rgb(23, 50, 58);
    color:#50cac8;
}
.btn-t-eq-new:hover,
.btn-t-eq-new:active{
    background: rgb(11, 24, 27);
}
.list-equips{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 18px;
}
.box-equipment{
    position: relative;
    font-family: 'Arial';
    max-width: 500px;
    min-width: 350px;
    max-height: 400px;
    border-radius: 6px;
    min-height: 100px;
    display: grid;
    background-repeat: no-repeat;
    grid-template-rows: 1fr 1fr;
    column-gap: 10px;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    background-color: #ffffff;
    border: 1px solid #d9e8ea;
    background-size: 500px 70%;
    transition: 150ms box-shadow;
    overflow: hidden;

}
#mtitle-equipmentmenu{
    font-size: 16px !important;
}
.box-equip-menu{
    position: absolute;
    background:rgb(19, 56, 59);
    font-size: large;
    left: 5px;
    top: 5px;
    cursor: pointer;
    z-index: 3;
    padding:3px 7px;
    border-radius: 5px;

}

.box-equipment:hover,
.box-equipment:active{
    box-shadow: 0 12px 24px rgba(34, 73, 82, 0.14)
}

.box-equip-header{
    background-position: center;
    z-index: 1;
    position: relative;
    
}
.box-equip-body{
    display: flex;
    flex-direction: column;
    background: #ffffff;
    box-shadow: 0 2px 11px rgba(34, 73, 82, 0.08);
    z-index: 2;
    padding: 10px;
    row-gap: 15px;
    position: relative;
    border-radius: 6px 6px 0 0;
    margin: 0 !important;
}

.body-equip-info{
    padding: 10px;
    display: grid;

    grid-template-columns: 1fr 1fr;

}

.box-eq-title{

    color:#18323c;
    padding: 5px;
    text-align: center;
    font-weight: bold;
    border-bottom: 1px solid #d2d5d929;
    border-top: 1px solid #d2d5d929;
}

.box-eq-info{
    flex:1;
    display:grid;
    row-gap: 15px;

}

.equip-info{
    display: grid;
    grid-template-columns: 1fr 2fr;
    
}
.equip-info > *{
    padding: 5px;
    color: #60777d;
    font-size: small;
}

.equip-info > i{
    color: rgb(54, 225, 225);
    border-radius: 4px;
    text-align: center;
    border: 1px solid rgba(255, 255, 255, 0.171);
    border-bottom:1px solid rgba(255, 255, 255, 0.171);
}


@media (max-width: 768px) {
    .list-equips{
        flex-direction: column;
        row-gap: 3rem;
    }
    .box-equipment{
        width: auto;
        margin-left: 5%;
        margin-right: 5%;
        max-height: 600px;
        min-width: 0;
    }

    .list-equips {
        gap: 24px;
    }
}
