

.tab-menu-home, .tab-menu-clients, .tab-menu-equip, .settings{
    margin-top: 2em;
    margin-right: 10%;
    margin-left: 10%;
    width: auto;
    display: flex;
    justify-content:right;
    column-gap: 1.75em;
    padding: 10px;
    border-bottom: 1px solid #b8b8b8;
}

.btn-t-home{
    width: auto!important;
    padding: 10px;
    font-weight: light;
    box-shadow: 0 0 11px #706e6e;
}
.btn-new-client{
    animation: shadow-circle 2s infinite;
}
.btn-theme, .btn-refersh{
    background: #17323a !important;
}
.btn-t-home > i{
    border-left: 2px solid #ded5d5;
    padding-left: 10px;
    margin-left: 10px;
    font-size: large;
}

.sidebar{
    position: fixed;
    right: -300px; 
    transition: all 0.3s ease;
    top: 0px;
    opacity: 0;
    width: 450px;
    background: #f9f9f9;
    border-left: 2px solid #ccc;
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.1);
    padding: 10px;
    z-index: 1000;
    height: 100vh;
    overflow: auto;
    visibility: hidden;

}

.sidebar.show{
    visibility: visible;
    opacity: 1;
    right: 0; 
}
.sidebar-title, .item-title{
    border: 1px solid #ded5d5;
    border-radius: 7px;
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 3fr;
    box-shadow: 0 0 1px #ded5d5;
}
.sidebar-title > i, .item-title > i{
    padding: 10px;
    font-size: 1.75em;
    border-left: 1px solid #ccc;
    color: rgb(209, 107, 107);
    cursor: pointer;
    transition: all 200ms;
}
.sidebar-title > i:hover, .item-title > i:hover
.sidebar-title > i:active, .item-title > i:active{
    color: rgb(204, 46, 46);
    box-shadow: 0 0 11px rgba(0, 0, 0, 0.1);
}
.sidebar-title > span, .item-title > span{
    text-align: center;
    padding: 15px;
}

.sidebar-items{
    margin-top: 3em;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    margin-bottom: 100px;
}
.item-title{
    background: #e6ebeb;
    color:#17323a;
    border-radius: 0;
}
.item-title > i{
    border-left: 1px solid #c2fffc;
    color: #ded5d5;
    background: #f9feff;
}
.item-title > i.done{
    color: rgb(65, 232, 154);
    background: rgb(35, 65, 51);
}
.item-title > i:hover,
.item-title > i:active{
    color: rgb(130, 130, 130);
}
.sidebar-item{
    box-shadow: 0 0 8px #e7e7e7;
    border-radius: 6px;
    display: none;
}
.sidebar-item.show{
    display: block;
}
.item-inpus{
    background-color: #f2f4f4;
    padding: 10px;
    flex-direction: column;
    row-gap: 10px;
    display: flex;
    display: none;
    margin-top: 15px;

}
.item-inpus.show{
    display: flex;
}
.inp-new-client{
    width: auto !important;
}
.input-step{
    border:1px solid #b8b8b8 !important;
    border-radius: 5px !important;
    
}
.inp-step{
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    flex: 1;
}

.label-inp > i{
    color: rgb(34, 53, 66);
    border-radius: 50%;
    border:1px solid rgba(137, 137, 137, 0.477);
    padding: 10px;
    
}
.label-inp{
    color: #797979;
    position: relative;

}
.equip-selected{
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 5px;
    border: 1px solid rgba(130, 130, 130, 0.356);
    cursor: pointer;

}
.equip-selected > .equip-selected-body{
    position: relative;
}
.equip-selected > .equip-selected-body > i{
    padding: 10px;
}
.equip-selected > .equip-selected-body > span{
    position:absolute;
    right:0;
    top: -10px;
    background: rgb(182, 18, 18);
    color: white;
    padding: 0 5px;
    border-radius: 10px;
    font-size: small;
}
.equip-selected:hover{
    box-shadow: 0 0 11px rgb(130, 130, 130, 0.356);
}


.item-button-step, .btn-add-client{
    width: 50% !important;
    margin-right: 45%;
    margin-left: 0px;
    padding: 10px;
}

.addclient{
    border-top: 1px solid #b4b4b4;
    padding: 10px;
    display: none;
}
.addclient.show{
    display: block;
}
.btn-add-client{
    background: #41d8b8 !important;
    margin-left: 25%;
    margin-right: 25%;

}

.list-rent-boxes{
    margin-top: 1.75em;
    display: flex;
    margin-left: 10%;
    margin-right: 10%;
    column-gap: 2em;
    row-gap: 2em;
    flex-wrap: wrap;
    margin-bottom: 100px;

}
.rent-box{
    min-width: 350px;
    min-height: 300px;
    background: #232b2d;
    border-radius: 15px;
    padding: 5px;
    display: flex;
    flex-direction: column;
    justify-content:space-between;
}

.rent-box-empty{
    text-align: center;
    width: 300px;
    height: 150px;
    border-radius: 5px;
    border: 1px solid #acc5cc33;
}
.rent-box-empty > i{
    font-size: 1.75em;
    color: #17323a;
    padding: 10px;
}
.rent-box-empty > span{
    color: gray;
    font-size: 1.25em;
}
.rent-b-head{
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid rgba(232, 255, 255, 0.493);
    padding: 1px 6px;
}
.rent-b-title{
    font-size: 1.75em;
    color: whitesmoke;

}
.rent-b-title > span{
    text-shadow: 0 0 11px rgba(245, 245, 245, 0.651)
}
.rent-b-t-number{
    color: gray;
    font-size: 16px;
}
.rent-b-menu > i{
    font-weight: bold;
    border-radius: 5px;
    padding: 10px;
    color: cyan;
    cursor: pointer;
    transition: 150ms;
}

.rent-b-menu > i:active,
.rent-b-menu > i:hover{
    background: #2a5663a8;
    box-shadow: 6px 7px 11px #081214;

}

.rent-body{
    margin-top: 1em;
    display: flex;
    flex-direction: column;
    justify-content: space-betweenc !important;
}


.rent-money{
    display: flex;
    justify-content: center;
    align-items: end;
    border-bottom: 1px solid rgba(232, 255, 255, 0.114);
}
.rent-money >*{
    text-align: end;
    font-size: 1.4em;
    color: #64f1d3;
}
.mbig{
    font-family:none !important;
    font-size: 1.75em;
}
.mbig-icon{
    font-size: 0.4em;
    color: rgb(176, 176, 176);
    font-weight: 100;
}
.mlow{
    
}

.div-status{
    flex:1;
}
.status-x{
    color: rgb(216, 206, 174);
}
.status-v{
    color: #57eb9f;
    text-shadow: 0 0 11px #57eb9f9c;
    border-radius: 50%;

    
}
.box-status{
    display: flex;
    align-items: end;
    padding: 10px;
    column-gap: 10px;
}
.box-status > i{
    font-size: 1.35em;
    

}
.box-status > span{
    flex: 1;
    color: white;
    font-size: .90em;
}

.rent-footer{
    display: flex;
    justify-content: space-between;

}
.rent-f-item{
    cursor: pointer;
}

.rent-f-item > i{
    font-size: 1.1em;
    padding: 10px 20px;
    border-radius: 7px 15px;
    transition: all 200ms;
}
.rent-f-item>i:active,
.rent-f-item>i:hover{
    border-radius: 7px;
    transform: scale(1.1);
    box-shadow: 0 7px 11px #000000;
}
.rent-f-i-link{
    color: cyan;
    background: rgba(0, 255, 255, 0.151);
}
.rent-f-i-end{
    color: rgb(79, 251, 136);
    background: rgba(51, 216, 106, 0.267);
}
.rent-f-i-trash{
    color: rgb(212, 55, 55);
    background:rgba(182, 18, 18, 0.21);
}

.rent-f-i-cancel{
    color: #FFD43B;
    background: #ffd53b3f;
}
.rent-f-i-restore{
    color: #b9d77b;
    background: #363f25;
    
}
/* Mobile */
@media (max-width: 768px) {
    
    .tab-menu-home, .tab-menu-clients, .tab-menu-equip, .list-rent-boxes, .settings{
        margin-left: 1%;
        margin-right: 1%;
        width: auto !important;
        align-items: center;
    }
    .btn-t-home{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        width: 99px !important;
        align-items: end;
    } 
    .btn-t-home > i{
        border-left: 1px solid #b8b8b87d;
        margin-left: 2px;
        padding-left: 4px;
        font-size: large;
        text-align: center;
    }
    .btn-t-home > span{
        font-size: 10px;
        color: #b8b8b8;
    }
    .sidebar{
        width: 100% !important;
        padding-right: 10px;
        padding-left: 10px;

        padding: 0px !important;
    }


}


